:root {
  --main-color: #151515;
  font-size: 16px;
  background-color: var(--main-color);
  color: white;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #252525;
}

.mainPage {
  padding-top: 0.5rem;
  margin-left: 0.5rem;
  font-size: 3rem;
}

.clock {
  position: fixed;
  right: 1%;
  text-align: center;
  background-color: #252525;
  padding: 1.5rem;
  width: max-content;
}

@media only screen and (min-width: 600px){
  .mainContent {
    padding-top: 0;
    margin: 0;
    padding-left: 5rem;
  }
}